@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    list-style: none;
}

:root {
    --color-orange: #E76F51;
    --color-light-sky: #23A6F0;
    --color-light-gray: #DEDEDE;
    --color-gray: #6C6C6C;
    --color-dark-gray: #383838;
    --color-ligh-blue: #425F6A;
    --color-light-dark-blue: #264653;
    --color-dark-blue: #252B42;
    --color-black: #0A0826;
    --color-dark-black: #0B0D17;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

img{
    width: 100%;
}

.tittle{
    text-align: center;
}

.tittle h2{
    display: inline-block;
    color: #E76F51;
    padding: 20px 0 2px;
    border-bottom: 2px solid #E76F51;
    font-size: 25px;
}

/* Header Section  */

.header {
    background-color: #274c5bdd;
    position: fixed;
    width: 100%;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h2 {
    color: #fff;
    padding: 10px;
    font-size: 25px;
    font-weight: 600;
}

.logo h2 span{
    color: #E76F51;
}

.logo h2:hover{
    color: #E76F51;
}

nav .menu {
    display: flex;
    gap: 5px;
}

.menu .nav-item a {
    color: #fff;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 500;
}

.header-container .open-menu-btn i,
.header-container .close-menu-btn i {
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    padding: 10px;
}

.menu .nav-item a:hover,
.header-container .open-menu-btn i:hover,
.header-container .close-menu-btn i:hover{
    color: var(--color-orange);
}

.header-container .open-menu-btn,
.header-container .close-menu-btn{
    display: none;
}


/* Banner Section  */

.banner-section{
    background-color: #1f3e4a;
}

.banner-container{
    padding: 90px 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: #fff;
}

.banner-content h2{
    font-size: 35px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 1px;
    padding: 15px;
}

.banner-content h3{
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
}

.banner-content h3 span{
    color: #E76F51;
}

.banner-img{
    width: 400px;
    border-radius: 50%;
    overflow: hidden;
}

/* About Section  */

.about-section{
    padding: 40px 0;
}

.about-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-img{
    width: 40%;
}

.about-content{
    width: 55%;
}

.about-content .tittle{
    padding-bottom: 20px;
}

.about-content p{
    font-size: 16px;
    padding: 10px 0;
    line-height: 28px;
    letter-spacing: .5px;
    font-weight: 400;
    color: #1f3e4a;
}

.about-container p span{
    color: #E76F51;
    font-weight: 600;
}

.about-inner-content h3{
    padding: 10px 0;
    font-size: 18px;
    font-weight: 500;
    color: #0A0826;
}

.about-inner-content ol li{
    list-style: disc;
    margin-left: 30px;
    font-weight: 300;
    line-height: 28px;
    color: #1f3e4a;
}

