@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    transition: 0.3s all linear;
}

:root {
    --color-orange: #E76F51;
    --color-light-sky: #23A6F0;
    --color-light-gray: #DEDEDE;
    --color-gray: #6C6C6C;
    --color-dark-gray: #383838;
    --color-ligh-blue: #425F6A;
    --color-light-dark-blue: #264653;
    --color-dark-blue: #252B42;
    --color-black: #0A0826;
    --color-dark-black: #0B0D17;
    --color-new: #FBF78C;
    --color-new-2: #1C1D0F;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

img{
    width: 100%;
}

.tittle{
    text-align: center;
}

.tittle h2{
    display: inline-block;
    color: #E76F51;
    padding-bottom: 2px;
    border-bottom: 2px solid #E76F51;
    font-size: 25px;
}

/* Header Section  */

.header {
    background-color: #1c1d0fcc;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h2 {
    color: #fff;
    padding: 10px;
    font-size: 25px;
    font-weight: 600;
}

.logo h2 span{
    color: #E76F51;
}

.logo h2:hover{
    color: #E76F51;
}

nav .menu {
    display: flex;
    gap: 5px;
}

.menu .nav-item a {
    color: #fff;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 500;
}

.header-container .open-menu-btn i,
.header-container .close-menu-btn i {
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    padding: 10px;
}

.menu .nav-item a:hover,
.header-container .open-menu-btn i:hover,
.header-container .close-menu-btn i:hover{
    color: var(--color-orange);
}

.header-container .open-menu-btn,
.header-container .close-menu-btn{
    display: none;
}


/* Banner Section  */

.banner-section{
    background-color: #1C1D0F;
    height: 100vh;
    display: flex;
    align-items: center;
}

.banner-container{
    padding: 90px 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: #fff;
}

.banner-content h2{
    font-size: 35px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 1px;
    padding: 15px;
}

.banner-content h3{
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
}

.banner-content h3 span{
    color: #E76F51;
}

.banner-img{
    width: 400px;
    border-radius: 50%;
    overflow: hidden;
}

/* About Section  */

.about-section{
    padding: 40px 0;
}

.about-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-img{
    width: 40%;
}

.about-content{
    width: 55%;
}

.about-content .tittle{
    padding-bottom: 20px;
}

.about-content p{
    font-size: 16px;
    padding: 10px 0;
    line-height: 28px;
    letter-spacing: .5px;
    font-weight: 400;
    color: #1f3e4a;
}

.about-container p span{
    color: #E76F51;
    font-weight: 600;
}

.about-inner-content h3{
    padding: 10px 0;
    font-size: 18px;
    font-weight: 500;
    color: #0A0826;
}

.about-inner-content ol li{
    list-style: disc;
    margin-left: 30px;
    font-weight: 300;
    line-height: 28px;
    color: #1f3e4a;
}

/* Projects Section  */

.project-section{
    padding: 50px 0;
}

.project-container .tittle{
    padding: 20px 0 40px;
}

.project-cards{
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.project-cards .card{
    width: 300px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    position: relative;
}

.project-cards img{
    border-radius: 5px;
}

.project-cards .card h4{
    font-size: 16px;
    color: #1f3e4a;
    font-weight: 500;
    padding-top: 5px;
}

.project-cards .card p{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    color: #000;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
    background: linear-gradient(180deg, #6565657b 0%, rgba(255, 255, 255, 0) 100%);
    max-height: 0;
    overflow: hidden;
}

.project-cards .card:hover img{
    transform: scale(1.05);
}

.project-cards .card:hover p{
    padding: 25% 0 50%;
}

.project-container .more{
    padding: 40px 0 20px;
    text-align: center;
}

.project-container .more a{
    padding: 10px 20px;
    background-color: #E76F51;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid transparent;
}

.project-container .more a:hover{
    border-color: #E76F51;
    color: #E76F51;
    background-color: transparent;
}

/* Service Section  */

.service-section{
    padding: 50px 0;
}

.service-container .tittle h2 i{
    padding-left: 10px;
}

.service-container .tittle p{
    padding: 10px 0;
    line-height: 30px;
    letter-spacing: 1px;
    font-weight: 300;
    color: #1f3e4a;
}

.service-cards{
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
}

.service-cards .card{
    width: 320px;
    padding: 20px 20px 80px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: linear-gradient(180deg, #e76e5033 0%, #1d1e1033 100%);
    position: relative;
}

.service-cards .card i{
    padding: 10px;
    border: 2px solid #E76F51;
    color: #1f3e4a;
    border-radius: 50%;
}

.service-cards .card h3{
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0;
    color: #1C1D0F;
}

.service-cards .card p{
    color: #1f3e4a;
    line-height: 28px;
    text-align: justify;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
}

.service-cards .card .more{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 20px;
}

.service-cards .card a{
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    background-color: #E76F51;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 5px;
    text-transform: capitalize;
}

.service-cards .card a i{
    border: none;
    color: #fff;
    padding: 0 0 0 10px;
}

.service-cards .card:hover{
    background: linear-gradient(180deg, #e76e5066 0%, #1d1e1033 100%);
}

.service-cards .card:hover a:hover{
    background-color: transparent;
    border-color: #E76F51;
    color: #E76F51;
}

.service-cards .card:hover a:hover i{
    color: #E76F51;
}
